name: Deploy PocketBase with Tailscale

on:
  repository_dispatch:
    types: [deploy]  # Tên sự kiện bạn sẽ sử dụng khi gọi repository_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TAILSCALE_CLIENT_SECRET: ${{ secrets.TAILSCALE_CLIENT_SECRET }}
      TAILSCALE_CLIENT_ID: ${{ secrets.TAILSCALE_CLIENT_ID }}

    steps:
      # Bước 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v2

      # Bước 2: Tạo thư mục data (nếu chưa có)
      - name: Create data directory
        run: |
          mkdir -p data  # Tạo thư mục data nếu nó chưa tồn tại

      # Bước 3: Cài đặt Docker Buildx
      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      # Bước 4: Xây dựng và chạy Docker container
      - name: Build and run Docker container
        run: |
          docker build -t pocketbase-with-tailscale .
          docker run -d -p 8090:8090 --name pocketbase-with-tailscale \
            -e TAILSCALE_CLIENT_SECRET=${{ secrets.TAILSCALE_CLIENT_SECRET }} \
            -e TAILSCALE_CLIENT_ID=${{ secrets.TAILSCALE_CLIENT_ID }} \
            -v $(pwd)/data:/pb_data \
            pocketbase-with-tailscale
